﻿@page
@model AtosLibrary.WebHost.CreateReaderModel
@{
    ViewData["Title"] = "CreateReader";
}

<h1>CreateReader</h1>

<form method="post">
    Name: <input asp-for="ReaderModel.Name"/><br/>
    Surname: <input asp-for="ReaderModel.Surname"/><br />
    Country: <input asp-for="ReaderModel.Country"/><br />
    City: <input asp-for="ReaderModel.City"/><br />
    <input type="submit"/>
</form>
