﻿@page "Guid:Id"
@model AtosLibrary.WebHost.EditReaderModel
@{
    ViewData["Title"] = "EditReader";
}

<h1>EditReader</h1>


<form method="post">
    <input type="hidden" asp-for="ReaderModel.Id" />
    Name: <input asp-for="ReaderModel.Name" /><br />
    Surname: <input asp-for="ReaderModel.Surname" /><br />
    Country: <input asp-for="ReaderModel.Country" /><br />
    City: <input asp-for="ReaderModel.City" /><br />
    <input type="submit" />
</form>
