﻿@page "string:SearchText"

@model AtosLibrary.WebHost.ReaderIndexModel
@{
    ViewData["Title"] = "ReaderIndex";
}

<h1>ReaderIndex</h1>

<form asp-page-handler="Search" method="post">
    Search by surname: <input asp-for="SearchText" />
    <button type="submit">search</button>
</form>

<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Surname</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contact in Model.Readers)
            {
            <tr>
                <td>@contact.Id  </td>
                <td>@contact.Name</td>
                <td>@contact.Surname</td>
                <td>
                    <a asp-page="./EditReader" asp-route-id="@contact.Id">Edit</a> |
                    <button type="submit" asp-page-handler="delete" asp-route-id="@contact.Id">delete</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <a asp-page="/CreateReader">Create New</a>
</form>